.titulo1

{

    text-align: center;

    font-size: 2em;

   height: 150px;

   border: 20px rgb(0, 0, 0);

   margin: 0  200px;

}

body {

    background-color: rgb(202, 202, 202);

    text-align: center;

    font-size: 30px;
    
    

}

{



}

.titulo2 {
  color: rgb(102, 0, 133);
  
}

.preços {
    font-weight: bold
}

img {
    display: inline-block;
    vertical-align: top;
    width: 40%;
   
}

.imagem {
    display: inline-block;
    vertical-align: top;
    width: 30%;
  

}
