.titulo1

{

    text-align: center;

    font-size: 2em;

   height: 150px;

   border: 20px rgb(0, 0, 0);

   margin: 0  200px;

}

body {

    background-color: rgb(226, 223, 223);

    text-align: center;

    font-size: 30px;
    
    

}

{



}

.titulo2 {
  color: rgb(0, 16, 233);
  
}

.preços {
    font-weight: bold
}
